.App-header {
  background-color: #282c34;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

#schedule img {
  width: 200px;
}

#timer img {
  width: 200px;
}